name: garmin-mcp-server


on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build_docker_image:
    runs-on: ubuntu-latest
    name: Build and publish Docker images
    steps:  
    - name: Checkout code
      uses: actions/checkout@v3
   
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3.0.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_PAT }}
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3.0.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
        
    - name: Build and push to GitHub Container Registry and Docker Hub
      uses: docker/build-push-action@v6
      with:
          file: Dockerfile
          context: .
          platforms: linux/amd64,linux/arm64
          tags: | 
            ghcr.io/banzzouille/garmin-mcp-server:latest
            banzzouille/garmin-mcp-server:latest
          push: ${{ github.ref == 'refs/heads/main' }}       

    - name: Clean up dangling images
      run: |
        docker image prune -f  